<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	
<configSections>
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
</configSections>
	
<log4net>
	
  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="[%level] [%logger] %message%newline" />
    </layout>
  </appender>
  
  <appender name="InstrumentationAppender" type="DSNode.InstrumentationAppender, DSNode">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%message" />
    </layout>
  </appender>

  <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender" >
    <param name="AppendToFile"
         value="true" />
		<file type="log4net.Util.PatternString" value="log/node.log" />
		<rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="1MB" />
    <staticLogFileName value="true" />
	<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern"
           value="[%logger] %-5p %d{yyyy-MM-dd hh:mm:ss} - %m%n" />
    </layout>
  </appender>
	
  <appender name="queue" type="log4net.Appender.RollingFileAppender" >
    <param name="AppendToFile"
         value="true" />
		<file type="log4net.Util.PatternString" value="log/queue.log" />
		<rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
	<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern"
           value="[%logger] %-5p %d{yyyy-MM-dd hh:mm:ss} - %m%n" />
    </layout>
  </appender>
		
  <appender name="sql" type="log4net.Appender.RollingFileAppender" >
    <param name="AppendToFile"
         value="true" />
		<file type="log4net.Util.PatternString" value="log/sql.log" />
		<rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
	<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern"
           value="[%logger] %-5p %d{yyyy-MM-dd hh:mm:ss} - %m%n" />
    </layout>
  </appender>
		
  <appender name="resources" type="log4net.Appender.RollingFileAppender" >
    <param name="AppendToFile"
         value="true" />
		<file type="log4net.Util.PatternString" value="log/resources.log" />
		<rollingStyle value="Size" />
    <maxSizeRollBackups value="10" />
    <maximumFileSize value="10MB" />
    <staticLogFileName value="true" />
	<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern"
           value="[%logger] %-5p %d{yyyy-MM-dd hh:mm:ss} - %m%n" />
    </layout>
  </appender>
		
  <root>
    <level value="DEBUG" />
    <appender-ref ref="LogFileAppender" />
    <appender-ref ref="ConsoleAppender" />
	<appender-ref ref="InstrumentationAppender" />
  </root>
	
  <logger name="queue" additivity="false">
	<level value="DEBUG" />
	<appender-ref ref="queue" />
  </logger>
		
  <logger name="sql" additivity="false">
	<level value="DEBUG" />
	<appender-ref ref="sql" />
  </logger>
		
  <logger name="resources" additivity="false">
	<level value="INFO" />
	<appender-ref ref="resources" />
  </logger>
		
</log4net>

</configuration>	
